{
  "root": true,
  "extends": [
    "airbnb",
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended",
    "prettier/react"
  ],
  "plugins": ["react", "jsx-a11y", "import", "prettier"],
  "parserOptions": {
    "ecmaVersion": 2016,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "generators": true
    }
  },
  "env": {
    "es6": true,
    "node": true,
    "jest": true
  },
  "rules": {
    "quotes": ["error", "single"],
    "semi": ["error", "never"],
    "jsx-quotes": ["error", "prefer-double"],
    "react/display-name": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/prop-types": ["error", { "ignore": ["children"] }],
    "jsx-a11y/anchor-is-valid": 0
  }
}
